@keyframes slide-vertical {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  
  .animate-slide-vertical {
    animation: slide-vertical 20s linear infinite;
  }
  
  .animate-slide-vertical:hover {
    animation-play-state: paused;
  }